html{
	color:#000;
	background:#FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,
h4,h5,h6,pre,code,form,fieldset,legend,input,
textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%;
}
legend {
	color:#000;	
}

/*////////////////////////////////*/
*{
	box-sizing: border-box;
	outline: none;
}

html{
	font-size: 10px;
}
@media screen and (max-width:889px){
	html{
		font-size: 8.5px;
	}
}


body{
    position: relative;
    min-height: auto;
	padding: 0;
	margin: 0;
	font-family: 'Lato';
}

.backg_img{
	background-image: url(../Creative\ Agency\ Website\ Template\ PSD.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}
.container_01{
	max-width: 1170px;
	margin: 0 auto;
}

h1,
h2{
	font-family: 'bernadette';
}

h2{
	font-size: 5rem;
	letter-spacing: -0.4rem;
	color: #333332;

	padding-top: 1%;
}

.bt{
	display: block;

	font-size: 1.6rem;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	font-weight: 700;
	letter-spacing: 0;
	text-transform: uppercase;

	width: 14.3rem;
	height: 4rem;

	padding-top: 1rem;

	border-radius: 2rem;

	background-image:  linear-gradient(90deg, #dd813b 0%, #3f5199 100%);
	background-repeat: no-repeat;
	background-size: cover;

	transition: background-image .5s, background-color .5s, color .5s, border .5s;
}

.bt:hover{
	background-image: none;
	background-color: #FFF;

	color: #3f5199;

	box-shadow: 0px 0px 0px 1px rgba(63, 81, 153, 0.6) inset;
}
/*HEADER//////////////////////////////////////////////*/
header{
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: absolute;
	width: 100%;
	padding: 0 12% 0 11%;
}

header img {
	margin-top: 1.6%;

	width: 150px;
}

nav{
	margin-top: 2.8%;
}

.nav_ul{
	display: block;
}

.nav_li{
	display: inline;

	margin-left: 3.2rem;
}

.nav_a{
	color: #FFF;
	font-size: 1.5rem;
	letter-spacing: 0rem;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;

	padding-bottom: 1%;

	border-bottom: 2px solid transparent;

	transition: border-bottom .3s;
}

.nav_a:hover{
	border-bottom: 1.5px solid #FFF;
}

@media screen and (max-width:1520px){
	header{
		padding: 0 2%;
	}
	header img{
		width: 100px;
	}
}
	@media screen and (max-width:1200px){
		header{
			padding: 0 0% 0 0%;
		}
	}
	@media screen and (max-width:717px){
		header img {
			margin-top: 5%;
		}
	}
/*showcase/////////////////////////////////////////////*/
.showcase{
	background-image: url(../img/header_showcase/showcase_img.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;

	padding-top: 9.5%;

	text-align: center;
	color: #FFF;
}

h1{
	font-size: 11.1rem;
	letter-spacing: -0.6rem;
}

.h1_under{
	font-size: 3.7rem;
	letter-spacing: 0.1rem;
	font-weight: 700;
}

.showcase_p{
	width: 55%;

	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;

	font-size: 1.6rem;
	letter-spacing: 0rem;
	line-height: 2.4rem;
	font-weight: 300;
}

.showcase_button{
	background-image: none;
	background-color: #FFF;

	border: 1px solid transparent;

	color: #020202;

	margin-left: auto;
	margin-right: auto;
	margin-top: 3.5%;

	transition: background .5s, color .5s, border .5s;
}

.showcase_button:hover,
.aour_best_button:hover{
	background:none;

	color: #FFF;
	border: 1px solid #FFF;
}

.first_box{
	display: flex;
		
	justify-content: space-between ;

	margin-top: 7.5%;

	margin-bottom: 10%;
}

.first_box_little{
	width: 372px;
	height: 414px;

	background-color: rgb(255, 255, 255);

	border-radius: 10px;

	box-shadow: 0px 10px 100px -20px rgba(146, 146, 146, 0.801);

	position: relative;
}

.first_b_l_IMG{
	object-position: 0px -25px;

	margin-bottom: -2%;

	border-radius: 10px;

	width: 100%;
}

.first_b_l_title{
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
	color: #333332;
	font-weight: 700;
}

.first_b_l_p{
	font-size: 1.6rem;
	letter-spacing: 0rem;
	line-height: 2.4rem;
	color: #040404;
	font-weight: 300;

	width: 70%;

	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
}

.first_b_l_button{
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -7.15rem;
}

@media screen and (max-width:1400px){
	.showcase{
		background-size: 110%;
	}
	@media screen and (max-width:1300px){
		.showcase{
			background-size: 120%;
		}
	}
	@media screen and (max-width:1200px){
		.showcase{
			background-size: 130%;
		}
		.first_box{
			justify-content: space-between ;
		}
		.first_box_little{
			width: 30%;
			height: 370px;
		}
	}	
}	
@media screen and (max-width:1139px){
	h1{
		font-size: 8rem;
	}
	.h1_under{
		font-size: 2.5rem;
	}
	@media screen and (max-width:960px){
		.first_b_l_p{
			width: 90%;
		}
	}
	@media screen and (max-width:935px){
		.first_box_little{
			height: 350px;
		}
	}
	@media screen and (max-width:888px){
		.first_box_little{
			height: 300px;
		}
	}
	@media screen and (max-width:768px){
		.first_box_little{
			height: 290px;
		}
	}
	@media screen and (max-width:740px){
		.showcase{
			background-size: 140%;
		}
	}
	@media screen and (max-width:707px){
		h1{
			margin-top: 5%;
		}
		.showcase_p{
			width: 90%;
		}
	}
	@media screen and (max-width:631px){
		.showcase{
			background-size: 160%;
		}
		.first_box{
			flex-wrap: wrap;

			margin-top: 10%;
		}
		.first_box_little{
			width: 80%;
			height: 425px;

			margin-bottom: 15%;
			margin-left: auto;
			margin-right: auto;
		}
		.showcase_button{
			margin-top: 8%;
		}
	}
	@media screen and (max-width:600px){
		.showcase{
			background-size: 180%;
		}
		.first_box_little{
			height: 400px;
		}
	}
	@media screen and (max-width:550px){
		.showcase{
			background-size: 190%;
		}
		.first_box_little{
			height: 380px;
		}
	}
	
	@media screen and (max-width:474px){
		.showcase{
			background-size: 205%;
		}
		.first_box_little{
			width: 90%;
		}
	}
	@media screen and (max-width:426px){
		h1{
			font-size: 7rem;

			margin-top: 15%;
		}
		.showcase{
			background-size: 220%;
		}
		.first_box_little{
			height: 370px;
			width: 90%;
		}
	}
	@media screen and (max-width:376px){
		.showcase{
			background-size: 250%;
		}
		.first_box_little{
			height: 350px;
			width: 100%;
		}
	}
	@media screen and (max-width:320px){
		.showcase{
			background-size: 270%;
		}
		h1{
			font-size: 6rem;
		}
		.first_box_little{
			height: 310px;
		}
	}
}
/*we_are_creative_agency//////////////////////////*/
.we_are_creative_agency{
	position: relative;
}

.img_we_are_creative_agency{
	width: 480px;

	position: absolute;

	left: 50%;

	margin-left: -230px;
	margin-top: .5%;
}

.left_block{
	width: 38%;
}

.h2_we_are_creative_agency{
	width: 30rem;

	line-height: 6rem;

	margin-top: 4%;
	margin-left: 3%;
}

.we_are_c_P{
	font-size: 1.8rem;
	letter-spacing: 0rem;
	line-height: 3rem;
	color: #040404;
	font-weight: 300;

	width: 80%;

	margin-top: 7.3%;
}

.regular{
	font-weight: 400;
}

.we_are_c_button{
	margin-top: 9.5%;
	margin-left: 2%;
}

.right_block{
	width: 42%;

	float: right;

	margin-top: -41.5%;

	position: relative;
}

.right_block p:first-child{
	font-size: 1.8rem;
	letter-spacing: 0rem;
	line-height: 3rem;
	color: #040404;
	font-weight: 400;

	width: 78%;

	float: right;

	margin-top: 10%;
}

.right_block p:first-child::before{
	content: url(../img/block_we_are_creative/quote.png);

	position: absolute;
	top: 0;
	left: 0;
}

.name{
	font-family: 'bernadette';
	letter-spacing: -0.4rem;
	color: #333332;
	font-size: 4.7rem;

	float: right;

	margin-right: 27.5%;
	margin-top: 5.4%;
}

@media screen and (max-width:1140px){
	.right_block{
		margin-top: -50%;
	}
}
@media screen and (max-width:1070px){
	.img_we_are_creative_agency{
		width: 350px;
	
		top: 20%;

		margin-left: -175px;
	}
	.left_block{
		width: 40%;
	}
	@media screen and (max-width:964px){
		.right_block{
			margin-top: -60%;
		}
		.left_block{
			width: 37%;
		}
	}
	@media screen and (max-width:940px){
		.we_are_creative_agency{
			overflow: hidden;
		}
		.img_we_are_creative_agency{
			width: 340px;
	
			top: 10%;
			left: 90%;
		}
		.left_block{
			width: 90%;
		}
		.right_block{
			width: 80%;
		
			margin-top: 10%;
			margin-right: 10%;
		}
		.right_block p:first-child::before{
			content: '';

			width: 70px;
			height: 80px;

			background-image: url(../img/block_we_are_creative/quote.png);
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	@media screen and (max-width:520px){
		.img_we_are_creative_agency{
			width: 230px;
	
			top: 20%;
			left: 110%;
		}
		.right_block{
			margin-top: 15%;
		}
		.right_block p:first-child::before{
			width: 40px;
			height: 45px;
		}
		.right_block p:first-child{
			width: 85%;
		
			margin-top: 10%;
		}
	}
	@media screen and (max-width:369px){
		.img_we_are_creative_agency{
			width: 210px;

			top: 25%;
			left: 122%;
		}
	}
}
/*amazing_features/////////////////////////////////*/
.amazing_features{

	margin-top: 11.9%;

	padding-top: 17.2%;
	padding-bottom: 17%;

	position: relative;

	display: flex;
}

.up_block{
	background-color: #FFF;

	border-radius: 10px;

	width: 62.4%;
	
	margin-left: auto;
	margin-right: auto;

	padding-top: 1.5%;
	padding-bottom: 3%;

	text-align: center;

	z-index: 20;
}

.amazing_features_p{
	font-size: 1.8rem;
	letter-spacing: 0rem;
	line-height: 3rem;
	color: #040404;
	font-weight: 400;

	width: 79%;

	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5%;
}

.amazing_features_button{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

.box_amazing_features{
	position: absolute;
	top: 0;

	width: 100%;
	height: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	z-index: 2;
}

.little_box_amazing_features{
	overflow: hidden;

	width: 49%;

	border-radius: 10px;

	margin-bottom: 2%;

	cursor: pointer;
}

.little_box_amazing_features img{
	object-fit: cover;

	width: 100%;
	height: 100%;

	transition: opacity .3s;
}

.little_box_amazing_features:hover img{
	opacity: 70%;
}

@media screen and (max-width:522px){
	.h2_amazing_features{
		width: 90%;
		margin-left: auto;
		margin-right: auto;

	}
	.up_block{
		width: 80%;
	}
	.amazing_features_p{
		width: 90%;
	}
	.amazing_features_button{
		margin-top: 10%;
		margin-bottom: 6%;
	}
}
/*services_we_provide///////////////////////////////////*/
.services_we_provide{
	background-color: #f3f3f3;
	background-image: url(../img/block_services_we_provide/backg_img.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 42%;

	margin-top: 3.8%;

	padding-bottom: 3.9%;
}

.services_we_provide_box{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.content_box{
	width: 50%;

	margin-top: 7%;
}


.h2_services_we_provide{
	line-height: 6rem;
	
	margin-left: 2.6%;
}

.services_we_provide_p{
	line-height: 3rem;
	color: #040404;
	font-weight: 300;
	font-size: 1.8rem;

	width: 75%;

	margin-top: 4%;
	margin-left: 1%;
}

.services_we_provide_button{
	margin-top: 2.6%;
	margin-left: 1%;
}

.logos{
	width: 30.2%;
	height: 150%;

	margin-top: 7.7%;

	background-image: linear-gradient(135deg, #dd813b 0%, #3f5199 100%);

	border-radius: 10px;

	display: flex;
	flex-wrap: wrap;

	align-items: flex-end;
}

.logos_little{
	width: 43%;

	text-align: center;

	padding-top: 5%;
	padding-bottom: 5%;
}

.logos_little_p{
	font-size: 1.7rem;
	letter-spacing: 0px;
	color: #FFF;
	font-weight: 800;
	
	width: 70%;

	margin-left: auto;
	margin-right: auto;
}

.logos .logos_little:nth-child(-n+2){margin-top: 6%;}

.logos .logos_little:nth-child(odd){
	border-right: 1.5px rgba(255, 255, 255, 0.342) dotted;

	margin-left: 7%;
}

.logos .logos_little:nth-child(-n+4){
	border-bottom: 1.5px rgb(255, 255, 255, 0.342) dotted;
}

.logos .logos_little:nth-child(n+3):nth-child(-n+4){
	padding-bottom: 9%;
}

.logos .logos_little:nth-child(n+5):nth-child(-n+6){
	margin-bottom: 8%;

	padding-top: 7%;
}

@media screen and (max-width:1535px){
	.services_we_provide{
		background-size:contain;
	}
	@media screen and (max-width:1440px){
		.services_we_provide{
			background-position: 110%;
		}
	}
	@media screen and (max-width:1275px){
		.services_we_provide{
			background-position: 120%;
		}
	}
	@media screen and (max-width:1170px){
		.services_we_provide{
			background-position: 130%;
		}
	}
	@media screen and (max-width:1065px){
		.services_we_provide{
			background-position: 140%;
		}
	}
	@media screen and (max-width:1025px){
		.services_we_provide{
			background-position: 155%;
		}
	}
	@media screen and (max-width:1000px){
		.services_we_provide{
			background-position: 165%;
		}
	}
	@media screen and (max-width:950px){
		.services_we_provide{
			background-position: 175%;
		}
	}
}
@media screen and (max-width:1024px){
	.logos{
		width: 37%;
	}
	@media screen and (max-width:915px){
		.services_we_provide_box{
			justify-content: space-between;
		}
		.services_we_provide_button{
			margin-top: 7%;
		}
		.content_box{
			width: 60%;
		}
		.services_we_provide_p{
			width: 90%;
		}
		.services_we_provide{
			background-image: none;
		}
	}
	@media screen and (max-width:570px){
		.services_we_provide{
			margin-top: 10%;
			background-image: none;
		}
		.content_box{
			width: 100%;
		}
		.services_we_provide_p{
			width: 90%;
		}
		.logos{
			width: 80%;

			margin-left: auto;
			margin-right: auto;
		}
	}
}
/*we_are_perfect_team//////////////////////////*/
.we_are_perfect_team{
	margin-top: 4.3%;

	text-align: center;

	position: relative;
}

.we_are_perfect_team::before{
	content: '';
	display: block;

	background-color: #f4f4f4;

	width: 1296px;
	height: 317px;

	position: absolute;

	left: 50%;
	bottom: 0;
	
	margin-left: -648px;

	z-index: 0;

}

.p_we_are_perfect_team{
	font-size: 1.8rem;
	letter-spacing: 0px;
	line-height: 3rem;
	color: #313131;
	font-weight: 300;

	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;

	width: 99%;
}
/*SLIDER////////////////////////////////////////*/
.slick-arrow{
	border: none;

	background:none;

	font-size: 0;

	width: 24px;
	height: 40px;

	background-image: url(../img/block_we_are_perfect_team/arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	position: absolute;
	bottom: -50px;

	z-index: 20;

	outline: none;

	cursor: pointer;
	
}
.slick-arrow.slick-prev{
	left: 40px;

	transform: rotate(180deg);
}
.slick-arrow.slick-next{
	right: 40px;
}

.slick-track{
	display: flex;
	flex-wrap: wrap;

	width: 100%;

	margin-top: 6%;
	margin-bottom: 5%;
}

.slider_item{
	width: 19%;

	padding: 0 0.8%;

	cursor: pointer;

	transition: margin-top .3s;

	outline: none;
}
.slider_item:hover,
.slider_item:focus{
	margin-top: -3%;
}

.img_box{
	border-radius: 10px;

	width: 100%;

	overflow: hidden;
}

.img_box_team_little{
	width: 120%;

	border-radius: 10px;
}

.team_name{
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
	color: #333332;
	font-weight: 600;

	margin-top: 19%;
}

.p_box_little{
	font-size: 2rem;
	letter-spacing: 0.1rem;
	line-height: 3rem;
	color: #a3a3a3;
	font-weight: 300;
}

@media screen and (max-width:1440px){
	.we_are_perfect_team::before{
		width: 100%;

		left: 0;
		bottom: 0;
	
		margin-left: 0px;
	}
	@media screen and (max-width:1200px){
		.box_team{
			padding: 0 2%;
		}
	}
	@media screen and (max-width:1024px){
		.p_we_are_perfect_team{
			width: 75%;
		}
		.we_are_perfect_team::before{
			height: 250px;
		}
	}
	@media screen and (max-width:768px){
		.p_we_are_perfect_team{
			width: 90%;
		}
		.we_are_perfect_team::before{
			bottom: 5%;
			height: 150px;
		}
		.team_name{
			font-size: 2rem;
		}
		.p_box_little{
			font-size: 1.5rem;
		}
	}
	@media screen and (max-width:691px){
		.slider_item:hover,
		.slider_item:focus{
			margin-top: -1%;
		}
		.team_name{
			margin-top: 12%;
		}
		.we_are_perfect_team::before{
			bottom: 1%;
		}
	}
	@media screen and (max-width:621px){
		.slick-arrow{
			bottom: -55px;
		}
	}
	@media screen and (max-width:426px){
		.we_are_perfect_team{
			margin-top: 10%;
		}
		.team_name{
			margin-top: 10%;
			font-size: 2.5rem;
		}
		.p_box_little{
			font-size: 2rem;
		}
	}
}
/*anita_allen///////////////////////////////*/
.slider_information{
	overflow: hidden;
}

.slider_information_item{
	outline: none;
}

.anita_allen{
	display: flex;

	overflow: hidden;

	position: relative;
}

.box_left_anita_allen{
	flex: 0 0 100%;
	display: flex;
}

.container_02{
	width: 1210px;

	margin: 0 auto;

	padding: 0 3% 0 3%;

	overflow: hidden;
}

.box_left_anita_allen_little{
	width: 38%;
}

.h2_anita_allen{
	font-size: 6.5rem;

	margin-top: 2.5%;
	margin-left: 1.2%;
}

.after_h2{
	font-size: 2.2rem;
	letter-spacing: 0.1rem;
	line-height: 3.3rem;
	color: #505050;
	font-weight: 700;

	margin-left: 0.3%;
	margin-top: -1.8%;
}

.p_anita_allen{
	font-size: 1.8rem;
	letter-spacing: 0rem;
	line-height: 3rem;
	color: #040404;
	font-weight: 300;

	width: 100%;

	margin-top: 1.7%;
	margin-bottom: 5.4%;
}

.box_skilss{
	width: 41%;
}

.box_skills_little{
	position: relative;
}

.title_box_skills_little,
.percent{
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
	color: #333332;
	font-weight: 500;
}

.title_box_skills_little{
	position: relative;

	margin-bottom: 15%;
}

.gradient_line{
	display: block;

	position: absolute;
	top: 130%;

	background-color: black;
	background-image: linear-gradient(90deg, #dd813b 0%, #3f5199 100%);

	border-radius: 7px;

	height: 14px;
}
.gray_line{
	display: block;

	position: absolute;
	top: 176%;

	background-color: #e0e0e0;

	border-radius: 7px;

	width: 100%;
	height: 14px;
}

.percent{
	font-weight: 900;

	position: absolute;
	right: 0;
	bottom: -70%;
}

.box_img_anita_allen{
	display: flex;
	flex: 0 0 52%;

	transform: translate(-100%, 0px);
}

.IMG_box_img_anita_allen{
	width: 40%;

	position: relative;

	overflow: hidden;
}
.img_anita_alen{
	object-fit: cover;
	object-position: center;

	width: 100%;
	height: 100%;
}

.box_p_and_ikons{
	position: relative;
	width: 60%;
	background-image:  linear-gradient(135deg, #dd813b 0%, #3f5199 100%);
}

.p_box_img_anita_allen{
	font-size: 2.1rem;
	letter-spacing: 0.1rem;
	line-height: 3rem;
	color: #FFF;
	font-weight: 300;

	width: 70%;
	height: 10%;

	margin-left: 8%;
	margin-top: 10%;
}

.soc_ikons_box_img_anita_allen{
	display: flex;
	justify-content: space-between;

	align-items: center;

	width: 38%;

	position: absolute;
	bottom: 9%;
	left: 8%;

}

.box_soc_img{
	background-color: #FFF;

	width: 60px;	
	height: 60px;

	padding-bottom: 14px;

	align-items: flex-end;
	display: flex;

	border-radius: 30px;

	cursor: pointer;

	transition: background-color .3s;
}
.box_soc_img img{
	transition: filter .3s;

	margin-right: auto;
	margin-left: auto;
}
.box_soc_img:hover{
	background-color: #252525;
}

.box_soc_img:hover img{
	filter: invert(150%);
}

@media screen and (max-width:1590px){
	.p_box_img_anita_allen{
		width: 90%;
	}
	.soc_ikons_box_img_anita_allen{
		width: 55%;
	}
	@media screen and (max-width:1359px){
		.box_img_anita_allen{
			flex: 0 0 55%;
		}	
	}
	@media screen and (max-width:1200px){
		.anita_allen{
			display: block;
			width: 100%;
		}
		.box_left_anita_allen{
			width: 100%;
		}
		.box_left_anita_allen_little{
			width: 90%;
		}
		.box_skilss{
			width: 70%;
		}
		.title_box_skills_little{
			margin-bottom: 7%;
		}
		.box_img_anita_allen{
			width: 100%;
			height: 450px;

			margin-top: 3%;

			transform: translate(0%, 0px);
		}
		.p_box_img_anita_allen{
			margin-bottom: 0%;
			margin-left: 4%;
		}
		.soc_ikons_box_img_anita_allen{
			left: 4%;
		}
	}
	@media screen and (max-width:835px){
		.gray_line{
			top: 184%;
		}
	}
	@media screen and (max-width:768px){
		.soc_ikons_box_img_anita_allen{
			width: 90%;
		}
		.box_skilss{
			width: 90%;
		}
	}
	@media screen and (max-width:622px){
		.title_box_skills_little{
			margin-bottom: 10%;
		}
		.anita_allen{
			margin-top: 1%;
		}
	}
	@media screen and (max-width:530px){
		.title_box_skills_little{
			margin-bottom: 14%;
		}
	}
	@media screen and (max-width:490px){
		.box_skilss{
			width: 95%;
		}
		.box_img_anita_allen{
			display: flex;
			flex-direction: column;

			height: 530px;
		}
		.IMG_box_img_anita_allen{
			width: 100%;
		}
		.box_p_and_ikons{
			width: 100%;
		}
		.p_box_img_anita_allen{
			margin-bottom: 25%;
		}
	}
	@media screen and (max-width:425px){
		.anita_allen{
			margin-top: 2%;
		}
	}
	@media screen and (max-width:375px){
		.p_box_img_anita_allen{
			margin-bottom: 30%;
		}
		.title_box_skills_little{
			margin-bottom: 20%;
		}
	}
	@media screen and (max-width:320px){
		.anita_allen{
			margin-top: 3%;
		}
	}
}
/*take_your_website////////////////////////////////////*/
.take_your_website{
	margin-top: 6.6%;

	background-color: #f4f4f4;
	background-image: url(../img/block_anita_allen/background.png);
	background-repeat: no-repeat;
	background-size: 38.4%;

	position: relative;
}

.box01_take_your_website{
	width: 35%;

	position: absolute;
	right: 3.5%;
	top: 18%;
}

.h2_take_your_website{
	width: 50%;

	line-height: 6rem;

	margin-left: 1%;
	margin-bottom: 3.5%;
}

.bold,
.ptake_your_website{
	font-size: 1.8rem;
	letter-spacing: 0px;
	line-height: 3rem;
	color: #040404;
	font-weight: 700;

	width: 70%;

	margin-left: 1.5%;
}

.ptake_your_website{
	margin-top: 5%;
	font-weight: 300;
}

.box02_take_your_website{
	width: 62%;

	margin-top: 8%;
	margin-bottom: 8.7%;

	display: flex;
	flex-wrap: wrap;
}

.professional{
	width: 50%;

	background-color: rgb(255, 255, 255);

	text-align: center;
}

.h2_professional{
	margin-top: 12%;
}

.second_p_box02,
.second_p_box01{
	font-size: 2rem;
	letter-spacing: 0.1rem;
	line-height: 3rem;
	color: #333332;
	font-weight: 700;

	margin-top: -3%;
	margin-bottom: 12%;
}

.prise,
.our_best_title{
	font-size: 7.2rem;
	letter-spacing: -0.4rem;
	color: #333332;
	font-weight: 800;
	font-family: 'MYRIADPRO', Arial, Helvetica, sans-serif;
}
.our_best_title{
	color: #FFF;
	font-size: 7.8rem;
	text-align: center;
}
.prise{
	background: linear-gradient(100deg, #dd813b 35%, #3f5199 70%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.prise_bigger{
	font-size: 12rem;
}

.lit-title_professional{
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
	color: #333332;
	font-weight: 700;

	margin-top: 10.5%;
}

.p_professional{
	font-size: 1.8rem;
	letter-spacing: 0rem;
	line-height: 3rem;
	color: #040404;
	font-weight: 300;

	width: 80%;

	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
	margin-bottom: 23%;
}

.our_best{
	background-image: linear-gradient(135deg, #dd813b 0%, #3f5199 100%);

	padding-top: 13.5%;

	text-align: center;

	width: 50%;

	position: relative;
}

.second_p_box01{
	color: #FFF;
	margin-top: 1%;
}

.ul_our_best{
	margin-left: 20%;
	margin-top: -5%;
}

.li_our_bes{
	color: #FFF;
	font-size: 1.6rem;
	letter-spacing: 0px;
	font-weight: 400;

	margin-bottom: 6.5%;

	text-align: left;
}

.li_our_bes::before{
	content: url(../img/block_take_your_website_to_the_next_level/check.png);
	
	margin-right: 5%;
	position: relative;
}

.aour_best_button{
	background-image: none;
	background-color: #FFF;

	color: #020202;

	margin-left: auto;
	margin-right: auto;
	margin-top: 21%;
}

@media screen and (max-width:2560px){
	.take_your_website{
		background-size: 41.3%;
	}
	@media screen and (max-width:2350px){
		.take_your_website{
			background-size: 40.6%;
		}
	}
	@media screen and (max-width:1920px){
		.take_your_website{
			background-size: 38.4%;
		}
	}
	@media screen and (max-width:1566px){
		.take_your_website{
			background-size: 50%;
			background-position: -28.7%;
		}
	}
}

@media screen and (max-width:1440px){
	.take_your_website{
		background-size: 50%;
		background-position: -30.9% 0px;
	}
	.box01_take_your_website{
		width: 35%;
	
		position: absolute;
		right: 3.5%;
		top: 10%;
	}
	@media screen and (max-width:1273px){
		.take_your_website{
			background-size: 61%;
			background-position: -76% 0px;
		}
		.box02_take_your_website{
			width: 60%;
		}
		.box01_take_your_website{
			width: 35%;

			right: 3.5%;
			top: 10%;
		}
		.h2_take_your_website,
		.ptake_your_website,
		.bold{
			width: 100%;
		}
		.ul_our_best{
			margin-left: 12%;
			margin-top: -5%;
		}
	}
	@media screen and (max-width:1140px){
		.take_your_website{
			background-size: 60%;
			background-position: -71.9% 0px;
		}
	}
	@media screen and (max-width:992px){
		.take_your_website{
			background-size: 70%;
			background-position: -129.2% 0px;
		}
	}
	@media screen and (max-width:870px){
		.ul_our_best{
			margin-left: 6%;
		}
	}
	@media screen and (max-width:769px){
		.take_your_website{
			padding-bottom: 6%;
		}
		.p_professional{
			width: 90%;
		}
		.ul_our_best{
			margin-left: 10%;
			margin-top: -5%;
		}
		.take_your_website{

			background-image: none;
		}
		.box02_take_your_website{
			width: 70%;

			margin-top: 0%;
			margin-left: auto;
			margin-right: auto;
		}
		.professional{
			width: 100%;
		}
		.our_best{
			width: 100%;
		}
		.aour_best_button{
			margin-top: 10%;
			margin-bottom: 10%;
		}
		.box01_take_your_website{
			position: static;
			width: 100%;

			top: auto;
			left: 3%;
			bottom: 2%;
		}
		.ul_our_best{
			margin-left: 15%
		}
		.li_our_bes{
			font-size: 2.5rem;
		}
		
		.h2_take_your_website,
		.ptake_your_website,
		.bold{
			width: 90%;
			margin-left:0%;
		}

	}
	@media screen and (max-width:575px){
		.box02_take_your_website{
			width: 80%;
		}
	}
	@media screen and (max-width:520px){
		.box02_take_your_website{
			width: 85%;
		}
	}
	@media screen and (max-width:477px){
		.box02_take_your_website{
			width: 90%;
		}
	}
	@media screen and (max-width:426px){
		.box02_take_your_website{
			width: 100%;
		}
	}
	@media screen and (max-width:345px){
		.ul_our_best{
			margin-left: 5%
		}
	}
}

/*getin_touch//////////////////////////////////////*/
.getin_touch{
	padding-top: 4%;
	padding-bottom: 5%;

	background-image: url(../img/block_soc_ikons/background.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.h2_getin_touch{
	text-align: center;
	color: #FFF;
}

.box_soc_ikons{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 74%;

	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
}

.a_box_soc_ikons{
	background-color: none;

	display: flex;
	align-items: center;

	border-radius: 50%;
	border: 3.3px solid #FFF;

	width: 84px;
	height: 85px;

	transition: background-color .2s;
}
.a_box_soc_ikons img{
	transition: filter .3s;

	margin-left: auto;
	margin-right: auto;
}

.a_box_soc_ikons:hover{
	background-color: #FFF;
}
.a_box_soc_ikons:hover img{
	filter: invert(80%);
}
@media screen and (max-width:915px){
	.box_soc_ikons{
		width: 100%;

		text-align: center;
		
		justify-content: space-around;

		margin-left: none;
		margin-right: none;
	}
	.a_box_soc_ikons{
		margin-right: 1.4%;
		margin-left: 1.4%;
	}
}
	@media screen and (max-width:751px){
		.a_box_soc_ikons{
			margin-bottom: 3%;
		}
	}
/*/contacts/////////////////////////////////////////////*/
.contacts{
	margin-top: 5%;
	margin-bottom: 4%;
}

.box_contact{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.box_contact_little{
	width: 28%;

	position: relative;
}

.img_contacts{
	position: absolute;
	top: 0;
	left: 0;
}

.contct_tittle{
	font-size: 1.7rem;
	letter-spacing: 0rem;
	line-height: 2.4rem;
	color: #494949;
	font-weight: 700;
	text-transform: uppercase;

	margin-left: 25%;
}

.a_contacts,
.contact_addres{
	font-size: 1.6rem;
	letter-spacing: 0rem;
	line-height: 2.4rem;
	color: #494949;
	font-weight: 400;
	text-decoration: none;

	margin-left: 25%;

	transition: color .5s;
}

.a_contacts:hover{
	color: #dd813b;
}

@media screen and (max-width:1200px){
	.box_contact{
		justify-content: space-between;
	}
}
@media screen and (max-width:768px){
	.img_contacts{
		width: 20%;
	}
	.img_contacts[src="img/block_contact/2.png"]{
		width: 15%;
	}
	@media screen and (max-width:556px){
		.contacts{
			margin-top: 15%;
		}
		.box_contact_little{
			width: 60%;

			margin-bottom: 10%;
			margin-left: auto;
			margin-right: auto;
		}
		.a_contacts,
		.contact_addres{
			font-size: 2rem;
			margin-left: 35%;
		}
		.contct_tittle{
			text-align: center;

			margin-left: 0;
			margin-bottom: 5%;
		}
		.img_contacts{
			left: 0;
		}
	}
}
/*FOOTER//////////////////////////////*/
.p_footer{
	font-size:1.7rem;
	letter-spacing: 0rem;
	line-height: 2.4rem;
	color: #2f2f2f;
	font-weight: 400;
	text-align: center;

	margin-bottom: 3%;
}

@media screen and (max-width:768px){
	footer{
		margin-top: 5%;
	}
}
@media screen and (max-width:1200px){
	.paddings{
		max-width: 100%;
		padding-left: 3%;
		padding-right: 3%;
	}
	.paddings_01{
		max-width: 100%;
		padding-left: 1.5%;
		padding-right: 1.5%;
	}
}